<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/7700e0d7d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" <link rel="icon" href="/static/img/illuminati.jpg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flexcarouseljs@1.0.0/dist/flexCarousel.min.css">
</head>
<title>About</title>
</head>

<body>
    <nav class="main-navbar">
        <ul>
            <li><i class="fas fa-house-damage"></i><a href="/">Home</a></li>
            <li><i class="fas fa-address-card"></i><a href="/about">About</a></li>
            <li>
                <i class="fa fa-fw fa-envelope"></i><a href="/contact">Contact</a>
            </li>
            <li>
                <i class="fas fa-file-signature"></i><a href="/signup">Sign Up</a>
            </li>
            <li>
                <i class="fas fa-clipboard-check"></i><a href="/login">Login</a>
            </li>
            <img class="logo" src="/static/img/logo.jpg" alt="logo">
        </ul>
    </nav>
    <section class="about-text">
        <h1><span>Just go</span> and work with us!</h1>
        <div class="my-class">
            <ul>
                <li><img src="/static/img/illuminati.jpg" alt="Women">
                    <p>
                        Ever since company founder Maureen Wheeler stapled together
                        her first guidebook after an epic trip across Asia, Lonely Planet has
                        put travellers at the heart of everything we do, informing and inspiring
                        them with trusted content for print and digital from experts who visit
                        every destination.
                    </p>
                </li>
                <li><img src="/static/img/kajul.jpg" alt="Women">
                    <p>
                        Ever since company founder Maureen Wheeler stapled together
                        her first guidebook after an epic trip across Asia, Lonely Planet has
                        put travellers at the heart of everything we do, informing and inspiring
                        them with trusted content for print and digital from experts who visit
                        every destination.
                    </p>
                </li>
                <li><img src="/static/img/womaninblue.jpg" alt="Women">
                    <p>
                        Ever since company founder Maureen Wheeler stapled together
                        her first guidebook after an epic trip across Asia, Lonely Planet has
                        put travellers at the heart of everything we do, informing and inspiring
                        them with trusted content for print and digital from experts who visit
                        every destination.
                    </p>
                </li>
                <li><img src="/static/img/berit.jpg" alt="Women">
                    <p>
                        Ever since company founder Maureen Wheeler stapled together
                        her first guidebook after an epic trip across Asia, Lonely Planet has
                        put travellers at the heart of everything we do, informing and inspiring
                        them with trusted content for print and digital from experts who visit
                        every destination.
                    </p>
                </li>
                <li><img src="/static/img/chinesegirl.jpg" alt="Women">
                    <p>
                        Ever since company founder Maureen Wheeler stapled together
                        her first guidebook after an epic trip across Asia, Lonely Planet has
                        put travellers at the heart of everything we do, informing and inspiring
                        them with trusted content for print and digital from experts who visit
                        every destination.
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/flexcarouseljs@1.0.0/dist/flexCarousel.min.js"></script>
    <script>
        const carousel = new flexCarousel('.my-class');
    </script>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15599962.799352642!2d-153.6415291473136!3d-17.335577217943385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x741875d07c6dd74d%3A0x9bc07a7a09c35711!2sFranska%20Polynesien!5e0!3m2!1ssv!2sse!4v1575549865119!5m2!1ssv!2sse"
        width="50%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    <div class="contact-info">
        <ul>
            <li>
                <i class="fas fa-info"></i>
                <h6>Contact</h6>
                <p>PK7, Fa'a'ā 98702, French Polynesia</p>
            </li>
            <li>
                <i class="fas fa-phone"></i>
                <p>070 000 0000</p>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/elam-nabi-97943a198/">
                    <i class="fab fa-linkedin-in"></i>
                    LinkedIn
                </a>
            </li>
        </ul>
    </div>
</body>

</html>