<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/7700e0d7d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" href="/static/img/illuminati.jpg" />
    <title>Contact</title>
</head>

<body>
    <nav class="main-navbar">
        <ul>
            <li><i class="fas fa-house-damage"></i><a href="/">Home</a></li>
            <li><i class="fas fa-address-card"></i><a href="/about">About</a></li>
            <li>
                <i class="fa fa-fw fa-envelope"></i><a href="/contact">Contact</a>
            </li>
            <li>
                <i class="fas fa-file-signature"></i><a href="/signup">Sign Up</a>
            </li>
            <li>
                <i class="fas fa-clipboard-check"></i><a href="/login">Login</a>
            </li>
            <img class="logo" src="/static/img/logo.jpg" alt="logo" />
        </ul>
    </nav>
    <div class="wrapper">
        <section class="contact-us">
            <h1>
                Feel free to <span>contact us</span>, for more information, about our
                services!
            </h1>
        </section>
        <form>
            <input type="text" id="fname" name="firstname" placeholder="Your first name" />
            <div class="error"></div>
            <input type="text" id="lname" name="lastname" placeholder="Your last name" />
            <div class="error"></div>
            <input type="text" id="phone" name="phone" placeholder="Your phone number" />
            <div class="error"></div>
            <input type="text" id="email" name="email" placeholder="Your e-mail" />

            <div class="error"></div>

            <textarea class="message" placeholder="Enter text here..." name="comment"></textarea>
            <div class="error"></div>

            <input type="submit" value="Send" />
        </form>
        <script src="/static/script.js"></script>
</body>

</html>