<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/7700e0d7d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon"
        href="https://images.pexels.com/photos/1918290/pexels-photo-1918290.jpeg?cs=srgb&dl=multicolored-skull-decor-1918290.jpg&fm=jpg">
    <title>Contact</title>
</head>

<body>
    <nav class="main-navbar">
        <ul>
            <li><i class="fas fa-house-damage"></i><a href="/">Home</a></li>
            <li><i class="fas fa-address-card"></i><a href="/about">About</a></li>
            <li><i class="fa fa-fw fa-envelope"></i><a href="/contact">Contact</a></li>
            <li><i class="fas fa-file-signature"></i><a href="/signup">Sign Up</a></li>
            <li><i class="fas fa-clipboard-check"></i><a href="/login">Login</a></li>
        </ul>
    </nav>

</body>

</html>