@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #000;
  color: #f5d67b;
}

.firstpage-container {
  height: 200px;
  width: 200px;
  position: relative;
}

.lion {
  width: 95vw;
  position: absolute;
  margin-top: -3rem;
  margin-left: 45px;
  border-right: solid 1px rgb(10, 6, 6);
}

.firstpage-h1 {
  z-index: 100;
  position: absolute;
  color: white;
  left: 150px;
  top: 130px;
}

.big-box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "boxoneup boxtwoup boxthreeup"
    "boxonedown boxtwodown boxthreedown";

  height: 100vh;
  width: 80%;
  margin: auto;
  z-index: 100;
  position: absolute;
  margin-top: 45rem;
  margin-left: 8.5rem;
}

.boxoneup {
  background: rgb(10, 6, 6);
}

.boxtwoup {
  background: #f5d67b;
}

.boxthreeup {
  background: rgb(10, 6, 6);
}

.boxonedown {
  background: #f5d67b;
}

.boxtwodown {
  background: rgb(10, 6, 6);
}

.boxthreedown {
  background: #f5d67b;
}

.error {
  height: 0;
  opacity: 0;
  color: red;
  transition: 0.1s;
  font-style: italic;
  font-size: 15px;
}

.error.show-err {
  opacity: 1;
  height: 20px;
}

.main-navbar {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  font: 1.15em;
  position: fixed;
  background: rgb(10, 6, 6);
  z-index: 1000;
}

.homepage-pic {
  margin: auto;
  width: 300px;
  height: 300px;
}

.logo {
  width: 50px;
  height: 35px;
  float: right;
}

.main-navbar ul {
  margin: 0;
  padding: 0;
}

.main-navbar li {
  display: inline-block;
  padding: 10px 20px;
}

.main-navbar li a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: rgb(177, 76, 69);
}

.main-navbar li a:hover {
  padding-bottom: 3px;
  opacity: 0.4;
}

.my-class img {
  border-radius: 50% 1px;
  border: outset 5px rgb(10, 6, 6);
  height: 10rem;
  width: 10rem;
}

h2,
h1 {
  color: #fff;
  font-weight: bold;
  font-size: 2.6em;
}

h1 {
  padding: 1rem;
}

span {
  color: #f5d67b;
}

h3,
h4,
h5 {
  text-align: center;
  font-size: 2rem;
  color: rgb(10, 6, 6);
  margin-top: 100px;
}

h4 {
  color: #fff;
}

.about-text {
  text-align: center;
}

p {
  width: 30%;
  margin: 0.5rem auto;
  color: rgb(177, 76, 69);
  font-size: small;
}

::placeholder {
  background: rgb(10, 6, 6);
  color: #fff;
}

.fc-next.fc-button svg,
.fc-prev.fc-button svg {
  color: #eda51a;
}

.fc-next.fc-button,
.fc-prev.fc-button {
  outline: none;
}

:placeholder-shown {
  background: transparent;
  color: #f5d67b;
  border-radius: 1px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}

.wrapper > div {
  margin: auto;
  color: #eda51a;
  font-size: 1.5rem;
  text-align: center;
}

.wrapper form {
  margin: auto;
  width: 90%;
  max-width: 560px;
}

input,
textarea {
  width: 90%;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  outline: none;
  color: rgb(177, 76, 69);
  border-bottom: 0.5px solid #888;
}

input[type="submit"] {
  background: rgb(10, 6, 6);
  border: 0;
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  color: #f5d67b;
  font-size: 12px;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.3;
  transition: 0.7s;
}

.wrapper form input.border-red,
.wrapper form textarea.border-red {
  border-color: red;
  transition: 0.3s;
}

.wrapper-2 {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 150px;
}

.wrapper-2 button {
  background: rgb(10, 6, 6);
  border: 0;
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  color: #f5d67b;
  font-size: 12px;
  cursor: pointer;
}

.wrapper-2 input {
  border-bottom: none;
  border-right: 0.5px #f5d67b solid;
  padding: 10px;
}

.wrapper-2 label {
  color: #fff;
}

.wrapper-2 button:hover {
  opacity: 0.3;
  transition: 0.7s;
}

.contact-us {
  display: grid;
  margin: auto;
}

.message {
  resize: none;
  outline: none;
  border: none;
  width: 90%;
  height: 128px;
  padding: 10px;
  margin: 1rem 0;
  background: rgb(10, 6, 6);
  border-radius: 8px;
}

.about-text {
  margin-top: 10rem;
}

iframe {
  margin-top: 13rem;
  margin-right: 13rem;
  margin-bottom: -3rem;
}

.contact-info,
iframe {
  display: inline-block;
}

.contact-info li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 3rem;
}
